
html {
  font-family: 'Inter', sans-serif;
}

body {
  background-image: url('./assets/background.png');
  background-size: cover;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-height: 100vh;
}

.hidden {
  display: none !important;
}

.main-container {
  background-color: #fff;
  min-height: 100px;
  border: 2px solid #000;
  border-radius: 50px 0 0 0;
  padding: 24px 20px 40px;
  display: flex;
  flex-direction: column;
}

.main-container.main-container__high {
  height: 80vh;
}

.h1 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.search-box {
  border-radius: 14px;
  border: 2px solid #000;
  border-radius: 14px;
  height: 48px;
  padding: 0 16px;
  font-size: 16px;
  width: calc(100% - 40px);
}

.button {
  border-radius: 14px;
  border: 2px solid #000;
  border-radius: 14px;
  background-color: #F24E21;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 16px;
  width: 100%;
  margin-top: auto;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #424343;
  margin-bottom: 8px;
}

.checkbox-label {
  margin-left: 8px;
}

.results-list {
  margin: 16px 0;
  flex: 1;
  overflow: scroll;
}

.repo-wrapper {
  padding: 8px;
  display: flex;
  align-items: center;
  border: 2px solid #000;
  border-radius: 14px;
  margin-bottom: 16px;
}

.repo-owner-image {
  height: 40px;
  border-radius: 8px;
}

.repo-name-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.repo-name {
  font-size: 18px;
  font-weight: 600;
}

.repo-technologies {
  font-size: 14px;
}

.repo-action {
  margin-left: auto;
}


